                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="position-relative me-2">
                            <a href="carrito.html" class="btn btn-outline-primary btn-carrito">
                                <i class="bi bi-cart3"></i>
                                <span class="contador-carrito position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    0
                                </span>
                            </a>
                        </div>
                        <a href="login.html" class="btn btn-outline-primary me-2">Iniciar Sesión</a>
                        <a href="registro.html" class="btn btn-primary">Registrarse</a>
                    </div>
